<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    ansi                        = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false">

    <testsuites>
        <testsuite name="Cbor4Php Test Suite">
            <file>src/Lemonblast/Cbor4Php/Tests/CborTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <file>src/Lemonblast/Cbor4Php/Cbor.php</file>
            <directory suffix=".php">src/Lemonblast/Cbor4Php/Types</directory>
        </whitelist>
    </filter>
    
</phpunit>
